{{template "base"}}

{{define "content"}}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>About</h1>
                <a href="/">Go to Home Page</a>
            </div>
        </div>
    </div>
{{end}}